* {
  background: #fff !important;
  color: #000 !important;
  font-family: 'DM Sans', sans-serif !important;
}

.field {
  border: 1px solid #000 !important;
  border-radius: 10px !important;
}

.field__input {
  border-radius: 10px !important;
}

button {
  background: #000 !important;
  border: 1px solid #000 !important;
  border-radius: 10px !important;
  color: #fff !important;
}

footer {
  * {
    border: 1px solid #fff !important;
    background: transparent !important;
  }
}


