/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \************************************************************************************************************/
/*  Font family  */
body {
  background: #000 !important;
}

p, a, h1, h2, h3 {
  color: #fff !important;
}

body, span {
  font-family: "DM Sans", sans-serif !important;
}

h1, h2, h3, input {
  font-family: "DM Sans", sans-serif !important;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #FFFFF9 !important;
  overflow-x: hidden;
}

.home-init * {
  max-width: 1600px;
  margin: 0 5rem;
  padding: 1rem 0;
  background-color: #FFFFF9;
}
.home-init img {
  width: 100%;
  height: auto;
  border-radius: 3rem;
}
.home-init__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  inline-size: 90%;
  margin: 0 auto 3rem auto;
}
.home-init .desktop {
  display: none;
}
@media (min-width: 720px) {
  .home-init .desktop {
    display: flex;
  }
}
.home-init .mobile {
  display: flex;
}
@media (min-width: 720px) {
  .home-init .mobile {
    display: none;
  }
}

footer {
  background-color: #FFFFF9;
  color: #000;
}
footer * {
  color: #000;
}
footer input {
  color: #000;
}
footer h1, footer h2, footer h3, footer h4, footer p, footer a, footer label {
  color: #000 !important;
}
footer .newsletter-form__field-wrapper .field__input {
  border-color: black;
}
footer .newsletter-form__field-wrapper .field__input label {
  color: black !important;
}
