/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \************************************************************************************************************/
/*  Font family  */
* {
  background: #000 !important;
  color: #fff !important;
}

p, a, h1, h2, h3, label {
  color: #fff !important;
}

body, span {
  font-family: "DM Sans", sans-serif !important;
  color: #fff !important;
  border: #fff !important;
}

h1, h2, h3, input {
  font-family: "DM Sans", sans-serif !important;
  color: #fff !important;
  border: #fff !important;
}

footer * {
  color: #fff !important;
}

.field__label {
  color: #fff !important;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #FFFFF9 !important;
  overflow-x: hidden;
}

.home-init {
  padding: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 2rem;
  column-gap: 1rem;
  max-width: 1600px;
}
@media (min-width: 720px) {
  .home-init {
    grid-template-columns: repeat(3, 1fr);
  }
}
.home-init a {
  text-decoration: none;
}
.home-init__grid {
  width: 100px;
  height: 100%;
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  inline-size: 90%;
  margin: 0 auto 3rem auto;
  border: solid 1px #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem !important;
}
.home-init .desktop {
  display: none;
}
@media (min-width: 720px) {
  .home-init .desktop {
    display: flex;
  }
}
.home-init .mobile {
  display: flex;
}
@media (min-width: 720px) {
  .home-init .mobile {
    display: none;
  }
}

footer {
  background-color: #FFFFF9;
  color: #000;
}
footer * {
  color: #000;
}
footer input {
  color: #000;
}
footer h1, footer h2, footer h3, footer h4, footer p, footer a, footer label {
  color: #000 !important;
}
footer .newsletter-form__field-wrapper .field__input {
  border-color: black;
}
footer .newsletter-form__field-wrapper .field__input label {
  color: black !important;
}
